body {
  background-image: url("ressources/plain.png");
  /* background-color: #cccccc; */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

  font-family: Georgia;
  font-size: 25px;
  padding: 80px;
}

#smaller {
  font-size: 12px;
}

#head {
  font-size: 30px;
  color: rgb(110, 61, 61);
  font-family: Georgia;
}

h1 {
  color: rgb(110, 61, 61);
  font-size: 40px;
}

main {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
}

.right {
  width: 52rem;
}

.compute {
  width: 80px;
  height: 50px;
}
